<h2>All the updates with keywords "coke", "coca-cola", and "diet-coke":</h2>


<% @filtered_updates.each do |update|%>

  <div><%= update["user_handle"]%></div>
  <div><%= update["message"]%></div>
  <div><%= update["sentiment"]%></div>

<% end %>