<h1>All the updates with keywords:</h1>


<% @filtered_updates.each do |update|%>

  <div><%= update["user_handle"]%></div>
  <div><%= update["message"]%></div>
  <div><%= update["sentiment"]%></div>

<% end %>