<h1>This is detail page for <%= @update["user_handle"]%></h1>


<div>The sentiment score is <%= @update["sentiment"] %> </div>

<br/>

<div><%= @update["followers"]%> followers have received the message</div>

<br/>

<%= link_to " Back to main page", updates_path %>